html {
    width: 100vw;
}

body {
    background-color: #4b4b4b;
    font-family: 'Roboto Condensed', sans-serif;
    color:white;
}


.centered {
    text-align: center;
    vertical-align: middle;
}

.screenContainer {
    height: 100vh;
    width: 100vw;
}

.flex {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.listHorz{
    display: table;
    list-style: none;
    padding-left: 15%;
    padding-right: 15%;
    height: max-content;
}

.listHorz div{
    float: left;
    width: 50%;
    font-size: 3vh;
}

.listHorz img {
    width: 90%;
    height: 100%;
    display: block;
    margin: auto;
}

h1.bookmark {
    transform:translate(200%,0);
}

/*PUSH ME, BATMAN!!*/